body{
    margin:0px;
    padding:0px;
    background-color:#cccccc;
}
/**start navbar styles**/
.mainNav{
    background-color:rgb(255,127,39);
    border-bottom:2px solid black;
    width:100%;
    position:fixed;
    height:7vh;
    z-index:2;
}
.navLogo{
    margin-top:1%;
    height:70%;
    width:20%;
}
.navList{
    list-style:none;
    float:right;
    width:23%;
}
.navItem{
    float:left;
    margin-left:10%;
    font-size:125%;
}
.navLink{
    color:#000000;
    text-decoration:none;
}
.navLink:hover{
    color:#777;
    text-decoration:underline;
    font-size:115%;
}
/**end navbar styles**/
/**start sidebar styles**/
.sidebarMain{
    height:100vh;
    border:1px solid black;
    position:fixed;
    width:19.8%;
    background-color:#888;
    z-index:1;
}
.sidebarList{
    margin-top:50%;
    list-style:none;
}
.sidebarItem{
    margin-top:50%;
    font-size:125%;
}
/**end sidebar styles**/
/**start about styles**/
.mainDescription{
    height:93vh;
    padding-top:7vh;
    padding-left:20%;
}
.descriptionHeader{
    margin-left:35%;
}
.coverLink{
    color:#000;
    text-decoration:none;
    color:rgb(255,127,39);
}
.coverLink:hover{
    color:rgb(255,127,39);
    text-decoration:underline;
}
/**end about styles**/