body{
    margin:0px;
    padding:0px;
    background-color:#cccccc;
}
/**start navbar styles**/
.mainNav{
    background-color:rgb(255,127,39);
    border-bottom:2px solid black;
    width:100%;
    position:fixed;
    height:7vh;
    z-index:2;
}
.navLogo{
    margin-top:1%;
    height:70%;
    width:20%;
}
.navList{
    list-style:none;
    float:right;
    width:23%;
}
.navItem{
    float:left;
    margin-left:10%;
    font-size:125%;
}
.navLink{
    color:#000000;
    text-decoration:none;
}
.navLink:hover{
    color:#777;
    text-decoration:underline;
    font-size:115%;
    margin:0px;
}
/**end navbar styles**/
/**start sidebar styles**/
.sidebarMain{
    height:100vh;
    border:1px solid black;
    position:fixed;
    width:20%;
    background-color:#888;
    z-index:1;
}
.sidebarList{
    margin-top:50%;
    list-style:none;
}
.sidebarItem{
    margin-top:50%;
    font-size:125%;
}
.sidebarLink{
    color:#000;
    text-decoration:none;
    font-size:120%;
}
/**end sidebar styles**/
/**start description styles**/
.mainAbout{
    width:76%;
    height:100vh;
    margin-left:23%;
    padding-top:5%
}

.aboutLogo{
    width:23%;
    height:35%;
    margin-top:2%;
    float:left;
}
.aboutHeader{
    float:right;
    margin-right:55%;
    margin-top:10%;
}
.aboutText{
   float:right; 
   margin-right:10%;
}
/**end description styles**/
