body{
    margin:0px;
    padding:0px;
    background-color:#cccccc;
}
/**start navbar styles**/
.mainNav{
    background-color:rgb(255,127,39);
    border-bottom:2px solid black;
    width:100%;
    position:fixed;
    height:10vh;
    z-index:2;
}
.navLogo{
    margin-top:1%;
    height:70%;
    width:20%;
}
.navList{
    list-style:none;
    float:right;
    width:23%;
}
.navItem{
    float:left;
    margin-left:10%;
    font-size:125%;
}
.navLink{
    color:#000000;
    text-decoration:none;
}
.navLink:hover{
    color:#777;
    text-decoration:underline;
    font-size:115%;
    margin:0px;
}
/**end navbar styles**/
/**start sidebar styles**/
.sidebarMain{
    height:100vh;
    border:1px solid black;
    position:fixed;
    width:20%;
    background-color:#888;
    z-index:1;
}
.sidebarList{
    margin-top:50%;
    list-style:none;
}
.sidebarItem{
    margin-top:50%;
    font-size:125%;
}
/**end sidebar styles**/
/**start super bio styles**/
.superBioContainer{
    width:100%;
    height:100%;
    padding-top:4.7%;
}
.superBio{
    border:1px solid #000;
    width:79.9%;
    height:30%;
    margin-left:20%;
    border-right:none;
}
.superBioIcon{
    width:10%;
    height:90%;
    margin-left:3%;
    display:inline-block;
}
.superBioHeader{
    margin-right:55%;
    margin-bottom:0%;
    display:inline-block;
    margin-top:0%;
    float:right;
    margin-top:1%;
}
.superBioLink{
    color:#000;
    text-decoration:none;
}
.superBioLink:hover{
    color:rgb(255,127,39);
    text-decoration:underline;
}
.superBioText{
    margin-right:30%;
    margin-top:0%;
    display:inline-block;
    float:right;
    margin-top:1%;
}
/**end super bio styles**/